* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    background-color: rgb(20, 80, 211);
    color: azure;
    padding: 20px;
}

nav ul {
    background-color: black;
    width: 100%;
    list-style-type: lower-roman;
    text-align: center;

}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: rgb(197, 22, 22);
    padding: 10px;
    width: 150px;
}

nav li:hover {
    background-color: white;
}

.Texto {
    width: 100%;
    padding-top: 20px;
}

h2 {
    padding-bottom: 20px;
}